:root {
  font-size: 18px;

  --black: #0c0a09;
  --dark-grey: #292524;
  --medium-grey: #78716c;
  --light-grey: #e7e5e4;
  --white: #fafaf9;

  --red-accent-dark: #b91c1c;
  --orange-accent-dark: #c2410c;

  --red-accent-light: #f87171;
  --orange-accent-light: #fb923c;
  --yellow-accent: #fbbf24;

  --title-font-size: 1.8rem;
  --body-font-size: 1rem;
  --sidebar-font-size: 1.3rem
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* background-color: aqua; */
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: var(--white);

  display: grid;
  grid-template-rows: 2fr 3fr;
}

.header-top,
.header-bottom {
  /* background-color: bisque; */
  border: solid black;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top input {
  flex-grow: 1;

  height: 1em;

  margin: 12px 120px 12px 6px;
  padding: 8px;

  border-radius: 20px;
  border: none;
}

.header-bottom {
  display: flex;
}

.header-bottom .profile-widget {
  flex-grow: 1;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: var(--orange-accent-light);

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10%;

  padding: 40px 40px;
}

img.svg {
  width: 30px;
  height: auto;

  margin-right: 15%;
  /* margin-left: 20%; */
}

img#dashboard-svg {
  scale: 1.5;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: left;

  font-size: var(--sidebar-font-size);
}

.title {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  font-size: var(--title-font-size);
  /* margin: 0px 10px; */
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}

.main-page {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 20px;

  background-color: var(--light-grey);

  display: grid;
  grid-template-columns: 3fr 1fr;

  overflow: scroll;
}

.card-container.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr;
  /* gap: 20px; */
}

.card-container.left .title {
  grid-column: 1 / -1;
  justify-content: left;
}

.card-container.right {
  display: flex;
  flex-direction: column;
}

.card-container.right .title {
  align-self: start;
}

.card-container.right .card {
  flex-grow: 1;
}

.card {
  margin: 10px;
  background-color: var(--medium-grey);
}

