body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: aqua;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: brown;

  display: grid;
  grid-template-rows: 2fr 3fr;
}

.header-top,
.header-bottom {
  background-color: bisque;
  border: solid black;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top input {
  flex-grow: 1;
  margin: 12px 120px 12px 6px;

  border-radius: 20px;
  border: none;
}

.header-bottom {
  display: flex;
}

.header-bottom .profile-widget {
  flex-grow: 1;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: pink;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  margin: 0px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}

.main-page {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: grey;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.card-container.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 20px; */
}

.card-container.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container.right .card {
  flex-grow: 1;
}

.card {
  margin: 20px;
  background-color: blueviolet;
}