body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: aqua;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: brown;

  display: grid;
  grid-template-rows: 2fr 3fr;
}

.header .top,
.header .bottom {
  display: flex;

  background-color: bisque;
  border: solid black;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: pink;

  display: grid;
  grid-template-rows: 2fr repeat(9, 1fr);
}

.main-page {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: grey;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.card-container.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 20px; */
}

.card-container.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container.right .card {
  flex-grow: 1;
}

.card {
  margin: 20px;
  background-color: blueviolet;
}